@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1600px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    width: 100%;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0;
    transition: all 0.4s ease;
}
.navbar.sticky{
    background: crimson;
    padding: 7px 0;
}
.navbar.sticky span{
    color: #fff;
}
.navbar.sticky .logo a:hover{
    color:black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: 0.8s;
}
.navbar .logo a:hover{
    font-size: 37px;
    
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
    transition: color 0.6s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: black;
}



.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}




.home{
    display: flex;
    background: url(img/bkimg1.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    background-size: cover;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1, .text2{
    font-size: 27px;
}
.home .home-content .text3{
    font-size: 70px;
    font-weight: 600;
    margin: -3px;
}
span{
    color: crimson;
    transition: all 0.4s ease;
}






@media(max-width:856px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: darkblue;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

    }
    .navbar .menu.active{
        left: 0;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}